.page {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.overview {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 32px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.image {
  height: 300px;
  border-radius: 8px;
}

.heading {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.title {
  display: flex;
  flex-direction: column;
}

.description {
  white-space: break-spaces;
}

.controls {
  display: flex;
  gap: 16px;
  align-items: center;
}

.tabContent {
  padding: 0 40px;
}
