.page {
  display: flex;
  flex-direction: column;
  gap: var(--chakra-sizes-4);
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--chakra-sizes-4);
}

.overview {
  display: grid;
  grid-template-columns: var(--chakra-sizes-24) 1fr;
  grid-template-rows: max-content 1fr;
  gap: var(--chakra-sizes-4);
  grid-template-areas:
    "image heading"
    "description description";
}

@media screen and (min-width: 30em) {
  .overview {
    grid-template-columns: var(--chakra-sizes-48) 1fr;
    gap: var(--chakra-sizes-8);
    grid-template-areas:
      "image heading"
      "image description";
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--chakra-sizes-6);
}

.heading {
  grid-area: heading;
  display: flex;
  gap: var(--chakra-sizes-4);
  align-items: flex-start;
}

.title {
  display: flex;
  flex-direction: column;
}

.description {
  grid-area: description;
}

.controls {
  display: flex;
  gap: var(--chakra-sizes-4);
  align-items: center;
}
