.layout {
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: fixed;
  width: var(--chakra-sizes-60);
}

.content {
  padding-bottom: var(--chakra-sizes-8);
  margin-left: var(--chakra-sizes-60);
  width: 100%;
  display: flex;
  flex-direction: column;
}
