.layout {
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: fixed;
  width: var(--chakra-sizes-60);
}

.container {
  padding-bottom: var(--chakra-sizes-8);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container.with-sidebar {
  padding-left: var(--chakra-sizes-60);
}

.content {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}
