*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0;
  font-weight: 500;
}

/* Hides an element visually but keeps it in accessability tree */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}