.header {
  border-bottom: 1px solid var(--chakra-colors-gray-300);
  height: var(--chakra-sizes-16);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--chakra-sizes-4);
  gap: var(--chakra-space-3);
}

.search {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: var(--chakra-space-2);
  min-width: var(--chakra-sizes-60);
  padding: var(--chakra-sizes-1) var(--chakra-sizes-2);
  border-radius: var(--chakra-radii-base);
  border: 1px solid var(--chakra-colors-gray-300);
}

.profile {
  display: flex;
  align-items: center;
  font-weight: var(--chakra-fontWeights-semibold);
  gap: var(--chakra-space-1);
}
