.page {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--chakra-sizes-4);
}

@media screen and (min-width: 30em) {
  .page {
    grid-template-columns: minmax(var(--chakra-sizes-64), var(--chakra-sizes-72)) 1fr;
    gap: var(--chakra-sizes-8);
  }
}

.items {
  display: flex;
  margin-top: var(--chakra-sizes-3);
  gap: var(--chakra-sizes-3);
  flex-wrap: wrap;
}

.title {
  text-transform: capitalize;
}

.staff {
  --columns-count: auto-fit;

  display: grid;
  grid-template-columns: repeat(var(--columns-count), minmax(var(--chakra-sizes-72), 1fr));
  grid-gap: var(--chakra-sizes-4);
  grid-auto-flow: row;
}

@media (min-width: calc(var(--chakra-sizes-72) * 3 + var(--chakra-sizes-4) * 2)) {
  .grid {
    --columns-count: 3;
  }
}

.characters {
  margin-top: var(--chakra-sizes-3);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--chakra-sizes-72), 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: var(--chakra-sizes-4);
  overflow: hidden;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: var(--chakra-sizes-8);
}

@media screen and (max-width: 30em) {
  .blocks {
    gap: var(--chakra-sizes-4);
  }

  .blocks > * {
    padding-top: var(--chakra-sizes-4);
    border-top: 1px var(--chakra-colors-gray-300) solid;
  }
}
