.page {
  display: grid;
  grid-template-columns: minmax(var(--chakra-sizes-64), var(--chakra-sizes-72)) 1fr;
  gap: var(--chakra-sizes-8);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--chakra-sizes-6);
}

.items {
  display: flex;
  margin-top: var(--chakra-sizes-3);
  gap: var(--chakra-sizes-3);
  flex-wrap: wrap;
}

.title,
.link {
  text-transform: capitalize;
}

.staff {
  --columns-count: auto-fit;

  display: grid;
  margin: var(--chakra-sizes-4) 0 var(--chakra-sizes-10);
  grid-template-columns: repeat(var(--columns-count), minmax(var(--chakra-sizes-72), 1fr));
  grid-gap: var(--chakra-sizes-4);
  grid-auto-flow: row;
}

@media (min-width: calc(var(--chakra-sizes-72) * 3 + var(--chakra-sizes-4) * 2)) {
  .grid {
    --columns-count: 3;
  }
}

.characters {
  margin-top: var(--chakra-sizes-3);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--chakra-sizes-72), 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: var(--chakra-sizes-4);

  /* grid-auto-rows: 0; */
  overflow: hidden;
}

.characters > div:nth-child(n+9) {
  display: none;
}
