.sidebar {
  border-right: 1px solid var(--chakra-colors-gray-300);
  min-width: var(--chakra-sizes-60);
  display: flex;
  flex-direction: column;
  padding-bottom: var(--chakra-sizes-8);
  height: 100vh;
}

.logo {
  padding-left: var(--chakra-sizes-6);
  padding-right: var(--chakra-sizes-2);
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: var(--chakra-sizes-3);
  padding-left: var(--chakra-sizes-6);
  padding-right: var(--chakra-sizes-2);
  overflow-y: auto;
  height: 100%;
}

.heading {
  margin-top: var(--chakra-sizes-3);
  font-weight: var(--chakra-fontWeights-semibold);
}

.link {
  font-size: var(--chakra-fontSizes-sm);
}
